h2 {
    font-size: 2rem;
    font-family: AlmarenaDisplayBold, sans-serif;
    color: rgb(11, 30, 75);
    line-height: 30px;
    margin-bottom: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
    /* height: 100vh; */
    background: #eacda3 right top fixed;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #d6ae7b, #eacda3) right top fixed;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #d6ae7b, #eacda3) right top fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column; /* Change to column layout */
    padding: 28px;
    box-shadow: 0 2px 3px -2px black;
    max-width: 700px;
    margin: 0 28px;
    align-items: flex-end; /* Align all items to the right */
}

.icon {
    display: flex;
    width: 32px;
    height: 32px;
    fill: none;
    align-items: flex-start; /* Changed from 'left' to 'flex-start' */
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Align to the left */
    align-items: flex-start; /* Align to the left */
    padding: 0 auto;
}

form {
    display: flex;
    flex-direction: column; /* Align form items in a column */
    align-items: flex-start; /* Align form items to the left */
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
    justify-content: flex-start; /* Align input boxes to the left */
}
.input-box input,
.input-box select {
    width: 90px;
}

.input-box label {
    width: 95%;
    margin: 5px 0;
    text-align: left; /* Align labels to the left */
}

.input-box input {
    height: 40px;
    width: 95%;
    padding: 0 10px;
}

select {
    height: 40px;
    width: 95%;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.button-container button {
    background-color: rgb(105, 105, 244);
    color: white;
    width: 640px;
    height: 40px;
    border: none;
    padding-top: 6px;
    align-self: flex-start; /* Align the button to the left within the container */
}
.alert {
    padding-bottom: 15px;
}

p.last {
    text-align: center;
    padding-top: 6px;
    font-size: small;
    opacity: 0.7;
    align-items: center;
    justify-content: center;
}

input[type=date] {
    color: rgb(23, 23, 198);
}

input:hover {
    border-radius: 3px;
    border: 1.32px solid rgb(39, 39, 128);
}
